<div class="container">
  <div class="bluetext row">
    <p>Nous contacter pour l’organisation ou les disponibilités</p>
  </div>

  <div class="cases-formation row">
    <div class="col">
      <div class="row1">
        <p style="font-weight: bold">Presentation PM entraineurs, enseignants, formateurs:</p>
      </div>
      <div>
        <p>Quelle est l’influence du mental sur la performance? Comment définir un objectif? Quels sont les effets de mes mots?
        <br>
        Que faire du stress? Et un peu de neurologie pour éclairer les comportements.
        <br>
        Durée: 3h
        </p>
        <div class="mail">
          <a  href="mailto:pm@fredericbeltran.com">
            <%= image_tag("mail.png", :alt => "mail") %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cases-formation row">
    <div class="col">
      <div class="row1">
        <p style="font-weight: bold">Formation PM entraineurs:</p>
      </div>
      <div>
        <p>La Préparation Mentale en entraînnement, en accompagnement.
        <br>
        Fontionnement humain, communication, outils.
        <br>
        Durée: 6h
        </p>
        <div class="mail">
          <a  href="mailto:pm@fredericbeltran.com">
            <%= image_tag("mail.png", :alt => "mail") %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cases-formation row">
    <div class="col">
      <div class="row1">
        <p style="font-weight: bold">Les facteurs humains:</p>
      </div>
      <div>
        <p>Implication de l’Humain dans les situations dynamiques, la prise de decision, la gestion du stress, etc.
        <br>
        Durée: 4h
        </p>
        <div class="mail">
          <a  href="mailto:pm@fredericbeltran.com">
            <%= image_tag("mail.png", :alt => "mail") %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="cases-formation row">
    <div class="col">
      <div class="row1">
        <p style="font-weight: bold">Stress et performance:</p>
      </div>
      <div>
        <p>Quels sont les effets du stress sur la performance, que ce soit en entreprise ou un terrain de sport?
        <br>
        Quels sont les moyens d’actions?
        <br>
        Durée: 3h
        </p>
        <div class="mail">
          <a  href="mailto:pm@fredericbeltran.com">
            <%= image_tag("mail.png", :alt => "mail") %>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="parents row">
    <div class="col">
      <div class="row1">
        <p style="font-weight: bold">Les parents dans un projet sportif:</p>
      </div>
      <div>
        <p>Quel est le rôle du parent dans un projet sportif? La concentration. La motivation. La colère. Les mots...
        <br>
        Tous les sujets qui feront de ce projet un ensemble de moments riches.
        <br>
        Durée: 4h
        </p>
        <div class="mail">
          <a  href="mailto:pm@fredericbeltran.com">
            <%= image_tag("mail.png", :alt => "mail") %>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
