<div class="container">
  <div class="col">
    <div class="title row">
      <div class="line">
        <h4>L'Humain au coeur de la performance</h4>
      </div>
    </div>

    <div class="row">
      <div class="text col-sm-8">
        <p>Le mental? <br><br>

        Que mettre derrière le mot mental?
        Certains verront de la performance, de la gestion d'émotions, de la communication, éviter la colère. D'autres verront quelque chose d’inscrit en nous: on l’a ou on ne l'a pas!
        <br>
        <br>
        Pour ma part, je suis persuadé que nous disposons de ressources insoupçonnées. D'où viennent vraiment nos limites?
        <br>
        Face a une situation inattendue, quel bonheur d' être en réponse plutôt qu'en réaction!
        <br>
        La connaissance de soi est un réel apport. Nous ne mettrons pas nos émotions de côté, ni nos soucis; nous ne « dresserons » pas notre attention.
        <br>
        Par contre nous pouvons nous accepter tels que nous sommes et travailler ce pilier mental qui sert de base à nombre de nos manières d'être et de faire.
        <br>
        Je suis convaincu cela mérite d'y consacrer un peu de temps, que le bénéfice est énorme, et pas uniquement dans le sport.
        </p>
      </div>

      <div class="image col-sm-4">
        <div class="img1 row">
          <%= image_tag("plane.jpg", :alt => "plane") %>
        </div>
        <div class="img2 row">
          <%= image_tag("tennis.jpg", :alt => "tennis") %>
        </div>
        <div class="img3 row">
          <%= image_tag("micro.jpg", :alt => "micro") %>
        </div>
        <div class="img4 row">
          <%= image_tag("violon.jpg", :alt => "violon") %>
        </div>
      </div>

    </div>
  </div>

</div>
<%= render "shared/footer" %>

