<div class="col-xs-12 col-sm-8">
  <div class="livres-docs row">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Livres</a>
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Docs</a>
    </div>
  </div>

  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

      <!-- LIVRES -->
      <div class="title-book row">
        <p>MON ENFANT FAIT DE LA COMPETITION:</p>
      </div>
      <div class="editeur row">
        <p style="color: #A0A0A0;">Ed AMPHORA</p>
      </div>

      <div class="row">
        <div class="book col">
          <%= link_to image_tag("book.png", :alt => "book"), "https://ed-amphora.fr/produit/enseignement-entrainement/mon-enfant-fait-de-la-competition/" %>
        </div>

        <div class="video col">
          <%= image_tag("page1.png") %>
        </div>
      </div>

    </div>

    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

      <div class="row" style="position: relative; left: 225px;">
        <div class="col-sm-6">
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
        </div>

        <div class="col-sm-6">
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
          <%= image_tag("tennis.jpg",:id => "myImg", :alt => "tennis") %>
        </div>
      </div>

      <div id="myModal" class="modal">
        <!-- The close button -->
        <span class="close">&times;</span>
        <!-- Modal content (the image) -->
        <%= image_tag("tennis.jpg", :alt => "tennis") %>
      </div>

      <script>
        var modal = document.getElementById("myModal");

        var img = document.getElementById("myImg");
        var modalImg = document.getElementById("img01");
        img.onclick = function () {
          modal.style.display = "block";
          modalImg.src = this.src;
        }

        var span = document.getElementsByClassName("close")[0];

        span.onclick = function() {
          modal.style.display = "none";
        }
      </script>

    </div>
  </div>
</div>
