<div class="container">
  <div class="paragraphe1 row">
    <p class="p1">La préparation Mentale: donner la bonne clé?</p>
    <br>
    <p style="margin-left: 15px; margin-right: 15px;">La Préparation Mentale est un des piliers du sport. Comment appliquer une tactique, mettre en place sa technique, aller chercher à se dépasser sans un minimum d’envie, de motivation, d’objectif? Sans mental? <br>
    Un sportif expert qui rate sous pression, un orateur qui bafouille lors d’un exposé qu’il connait par coeur, un musicien paralysé lors de son audition: doit-on lui faire pratiquer encore et encore les gestes techniques de son domaine d’expertise? Platini qui rate le tir au but à la coupe du monde contre le Brésil: doit-on lui expliquer comment tirer? La double faute au moment le plus important: le joueur a-t-il oublié comment il doit s’y prendre pour servir? <br>
    Dans ces cas là: la réponse est souvent technique. On refait et on répète. <br>
    Mais est-on sûr qu’en donnant une réponse technique à un problème émotionnel on donne la bonne clé, celle qui va faire progresser? <br>
    La préparation Mentale traite cette problématique de gestion de projet, de connaissance de soi, de performance sous pression. Tout le monde s’accorde sur le fait que c’est essentiel, mais…..on continue trop souvent à remettre Platini devant les buts!
    </p>
  </div>

  <div class="picture1 row">
    <%= cl_image_tag("fredericbeltran/image15_oteomc.jpg", :effect=>"art:audrey", :height=>300, :width=>1100, :crop=>"scale") %>
  </div>

  <div class="theorie row">
    <p class="p2">Un peu de théorie:</p>
  </div>

  <div class="row">
    <div class="paragraphe2 col">
      <p>Le projet sportif:
      <br><br>
      Lorsqu'un sport dépasse le stade du loisir, il est essentiel de savoir où l'on va, bien définir les objectifs, et également bien comprendre dans quel contexte celui-ci va évoluer.
      <br>
      Avec cette question toute bête: et si ça marche, il se passe quoi? Question qui est beaucoup moins triviale qu'elle ne le semble. Etudes? Les autres membres de la famille? L'équilibre? Les loisirs? La construction de l'enfant?..
      <br>
      Une fois tout cela défini au mieux, on peut alors se concentrer sur le sport sous ses 4 piliers: technique, physique, tactique, mental.
      </p>
    </div>

    <div class="picture2 col">
      <%= cl_image_tag("fredericbeltran/cartementale_yra3ia.jpg", :height=>300, :width=>500, :crop=>"scale") %>
    </div>
  </div>

  <div class="cerveau row">
    <div class="paragraphe3 col">
      <p>Le cerveau:
      <br><br>
      80 milliards de neurones. Encore plus de cellules gliales, des millions de kilomètres de connexions: le cerveau reste un grand mystère.
      <br>
      Sans trop rentrer dans les détails, deux points particuliers sont à retenir. Le premier est que le cerveau est un gros consommateur d’énergie et cherche à s’économiser. En ce sens, il n’aime pas trop la nouveauté, et préfère faire ce qu’il a déjà fait.
      <br>
      La seconde, qui est liée en quelques sortes, est l’importance du circuit de la récompense, qui est impliqué dans le plaisir bien sûr, mais aussi la motivation, l’apprentissage, la prise de décision…
      </p>
    </div>

    <div class="picture3 col">
      <%= cl_image_tag("fredericbeltran/illustration_v1dzue.png", :height=>300, :width=>500, :crop=>"scale") %>
    </div>
  </div>

  <div class="fonctionnement row">
    <div class="paragraphe4 col">
      <p>Les modes de fonctionnement du cerveau:
      <br><br>
      En lien avec l’économie, le cerveau travaille avec un mode automatique et un mode adaptatif.
      <br>
      Le mode « auto » c’est celui qui agit dans la plupart des situations de la vie: s’habiller, se brosser les dents, conduire, etc. Le mode adaptatif entre en jeu quand il faut s’adapter à une situation nouvelle, ou lorsqu’il faut créer de la solution: problème inconnu, situation qui demande un effort intellectuel etc.
      <br>
      Ce fonctionnement est extrêmement performant … lorsque les modes sont adaptés au contexte.
      <br>
      Par contre, le défaut de mode peut avoir des conséquences sur nos résultats. Le mode AUTO ne saura jamais créer de solution, tandis que le mode adaptatif, qui calcule beaucoup, n’est pas assez fluide pour « faire » les choses.
      <br>
      D’où l’énervement de certains sportifs sur le banc, ou lors du point important…
      </p>
    </div>

    <div class="picture4 col">
      <%= cl_image_tag("fredericbeltran/image6_ii9pxr.jpg", :height=>300, :width=>500, :crop=>"scale") %>
    </div>
  </div>

  <div class="stress row">
    <div class="paragraphe5 col">
      <p>Le stress:
      <br><br>
      Le stress est normal dans les situations où l’on n’est pas sûr de tout contrôler, ou inconnues, nouvelles..
      <br>
      Il faut savoir que la plupart de nos stress sont subjectifs, et qu’ils concernent en grandes parties une attaque à l’égo… Peut-on se poser vraiment la question de savoir « pourquoi » on se met en colère?
      <br>
      Pour aller un peu plus loin: il n’existe pas de « bon » stress, mais c’est un autre sujet.
      <br>
      Le problème quand le stress devient trop important, est qu’il a tendance à inhiber le fonctionnement du mode adaptatif. Il ne reste alors que le mode auto, et encore sans la partie complexe du cortex. La réponse pourra être pauvre car non adaptée au contexte. On ne pourra pas « créer » de solution, ce qui pourra énerver davantage, et …entraîner une dégradation supplémentaire…
      <br>
      C’est alors une spirale négative qui s’installe.
      </p>
    </div>

    <div class="picture5 col">
      <%= cl_image_tag("fredericbeltran/colere29_dllsos.jpg", :height=>300, :width=>500, :crop=>"scale") %>
    </div>
  </div>
</div>

